@font-face {
    font-family: Recoleta;
    src: url("./fonts/Recoleta-Medium.otf") format("opentype");
}

@font-face {
    font-family: Texta Regular;
    src: url("./fonts/Texta-Regular.otf") format("opentype");
}

@font-face {
    font-family: Texta Bold;
    src: url("./fonts/Texta-Bold.otf") format("opentype");
}

@font-face {
    font-family: Texta Italica;
    src: url("./fonts/Texta-It.otf") format("opentype");
}

.containerindice {
    width: 100%;
    height: 650px;
    position: relative;
}

body {
    background-color: #006f5d;
}

.bodyportada {
    background-image: url('img/pattern.jpg');
    background-repeat: repeat;
}

.imgindice {
    width: 150x;
    padding: 20px;
    display:block;
    margin:auto;
}

.menu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 180px;
}

.menu p{
    border-bottom: 1px solid white;
    padding: 22px;
    font-family: Recoleta;
    font-size: 12pt;
    text-align: center;
}

a { 
    color: white; 
    text-decoration: none;
}

.bodymenu {
    background-image: url('img/textura.jpg');
    background-size: cover;
    background-repeat: repeat;
}

.container {
    width: 100%;
    display: inline-block;
}

.containerbebestibles {
    width: 90%;
    display: inline-block;
}

h1 {
    text-align: center;
    color: #006f5d;
    margin-bottom: 0px;
    font-family: Recoleta;
    font-size: 2.5em;
}

h2 {
    font-family: Recoleta;
    font-size: 1.2em;
    margin-bottom: -0px;
}

h3 {
    font-family: Texta Bold;
    font-size: 1.2em;
    color: #006f5d;
    margin-bottom: -20px;
    text-align: right;
}

h4 {
    color: #ba814d;
    margin-bottom: 0px;
    font-family: Recoleta;
    font-size: 2em;
}

h5 {
    color: #ba814d;
    margin-bottom: 0px;
    font-family: Recoleta;
    font-size: 1.2em;
}

h6 {
    font-family: Texta Bold;
    font-size: 1em;
    color: #006f5d; 
    text-align: center;
    margin-right: 0px;
    line-height: 20px;
    margin: 0px;
}

p {
    font-family: Texta Regular;
    font-size: 0.9em;
    line-height: 15px;
    margin: 0px;
}

.price {
    font-family: Texta Bold;
    font-size: 1.2em;
    color: #006f5d; 
    text-align: center;
    margin-right: 10px;
    margin-bottom: -20px;
}

table {
    width: 100%;
    border-spacing: 0;
    padding: 0;
}

.destilados {
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
}

.destilados td {
    padding: 5px; 
    margin: 0;
    height: 10px;
}

.lineright {
    border-right: 1px solid #006f5d;
}

.lineup {
    border-top: 1px solid #006f5d;
}

.linedown {
    padding-bottom: 10px;
}

span {
    color: #006f5d;
    font-size: 0.8em;
}

.returnindex {
    color: #006f5d;
    font-family: Recoleta;
    padding: 50px 32px 50px 0px;
    font-size: 16px;
    text-align: center;
  }

/* Style the navbar */
#navbar {
    width: 100%;
    overflow: hidden;
    background-color: #006f5d;
  }
  
  /* Navbar links */
  #navbar a {
    font-family: Recoleta;
    font-size: 0.8em;
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
  }  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

/* Este codigo es para las lineas entre items */
  ul {
    list-style: none;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-inline-start: 5px;
  }
  ul li{
    display:inline-block; 
    padding:0 5px; 
    position:relative;
    
  }